.fade-transition{
    position: absolute;
    bottom: -230px;
    height: 200px;
    right: 20px;
    img{
    	height: 100%
    }
    button{
    	position: absolute;
	    top: 70%;
	    left: 40%;
    }
}
