.fade-transition{
    position: absolute;
    bottom: -160px;
    height: 140px;
    right: 10px;
    img{
    	height: 100%
    }
    button{
    	position: absolute;
	    top: 67%;
	    left: 35%;
    }
}
