

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.navbar-text {
    margin-left: 15px;
}

h1 {
    font-family: 'Architects Daughter';
    font-size: 67px;
    color: #29460a;
}
p{
	font-size: 20px;
}

.navbar.navbar-default {
    background-color: #343838;
    a,
    li a {
        color: #c4d1d1;
    }
}

body {
    background-image: url('../assets/images/paper1b.jpg');
}
