.sequential-transition{
    position: absolute;
    bottom: -330px;
    height: 200px;
    right: 60%;
    img, svg{
    	height: 70%
    }


    button{
    	position: absolute;
	    top: 10%;
	    left: 40%;
    }
}
