#treehouse{
	background-image: url("/images/treehouse.png" );
    background-size: cover;
    height: 1000px;
    top: -70px;
    z-index: -1;
    position: relative;
}
.site-header{
	background-color: white;
}
#poster{
	padding:10px;
	background-image: url("/images/posterpaper.jpg");
	background-size: cover;
	h1 {
	    font-size: 14px;
	    font-weight: bold;

	}

}
