<section class='container p_T-6x'>
    <comicpanel class="col-lg-6 h_6x p_B-2x">
        <talkbubble top='200', left='160' width='100' height='80' tail='left'>
        	Hi little guy, What's your name?
        </talkbubble>
        <talkbubble top='250', left='280' width='' height='' tail=''>
        <!-- TODO: save name to Mongo -->
        	<input type="text" placeholder="type your name" ng-model="pg1.user.name"  ng-show='pg1.show.userName'/>
        	<button ng-click='pg1.meow()' ng-show='pg1.show.userName'><i class="fa fa-comment-o"></i></button>
			<span ng-hide='pg1.show.userName'>{{pg1.user.name}}</span>
        </talkbubble>
        <talkbubble	ng-hide='pg1.show.userName'>Ok, how about "Charles" then? </talkbubble>

        Broad view of Alika sitting at the base of tree, house in the distance
    </comicpanel>
    <comicpanel class="col-lg-6 h_2x p_B-2x">
    	<talkbubble top='0', left='280' width='' height='' tail=''>
			I'm from <em>New York</em> but instead of hanging out with my friends this summer, mom sent me here.
        </talkbubble>

        <talkbubble top='0', left='0' width='' height='' tail=''>Alika, time for lunch.</talkbubble>
    </comicpanel>
    <comicpanel class="col-lg-6 h_2x p_B-2x">
        <talkbubble top='0', left='0' width='' height='' tail=''>Oh don't worry. That's Grandpop Niven,  He's really nice but since grandma passed he's been a bit "cray-cray". Come on in, I'll get you some milk.</talkbubble>
         going through a side door
    </comicpanel>
    <comicpanel class="col-lg-6 h_4x p_B-2x">

        Niven in the distance, Alika getting opening a fridge

        <fade-transition>
			<img src="../../../assets/images/milk.png" alt="">
        </fade-transition>
    </comicpanel>
</section>
<section class='container'  ng-show='pg1.show.afterMilk'>
	<comicpanel class="col-lg-4 h_3x p_B-4x">
		<talkbubble top='0', left='0' width='' height='' tail=''>
			Ah, your back...and you brought a friend! Hurry up and eat your lunch, we gotta get goin' if we want to get anything done before dark.
		</talkbubble>
		[eat me interactive]
	</comicpanel>
	<comicpanel class="col-lg-8 h_3x p_B-4x">
		Alika and Niven are loaded up with tools, wood. grab a wheel barrow (interactive) and have to move it across the frame to show the next frame.
		<talkbubble top='0', left='0' width='' height='' tail=''>
			Where are we going?
		</talkbubble>
		<talkbubble top='0', left='0' width='' height='' tail=''>To build a tree house! Hurry it up we're late! Grab your laptop!</talkbubble>
	</comicpanel>
</section>
<section  class='container p_B-8x'  ng-show='pg1.show.afterSandwich'>
	<comicpanel class="col-lg-6 h_6x p_B-4x">
		<talkbubble top='0', left='0' width='' height='' tail=''>
			Grandpop, you don't know how to build a tree house! Who taught you to build a tree house?
		</talkbubble>
		<talkbubble top='0', left='0' width='' height='' tail=''>
			Alika, if there's three things I've learned in life it's that "Don't ever wait for someone to teach you nothin'." You have more learning in that laptop than you will ever need. And 2.) If you have an idea of something, learn how to do it yourself." Most folks think that their ideas are as valuable as gold and go around dropping them like silent, stinkers. It's just hot air! Real ain't real till it's real and no one going to help you make your stinkers real.
		</talkbubble>
		[Looks incrdulous]
		<talkbubble top='0', left='0' width='' height='' tail=''>What's the third thing?</talkbubble>
		<talkbubble top='0', left='0' width='' height='' tail=''>Don't fart in public.</talkbubble>
	</comicpanel>
</section>
