<div class="codeEditor p_All-2x">
    <button type="button" class="btn btn-default" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">Show Code Editor</button>
    <hr>
    <div uib-collapse="$ctrl.isCollapsed">
        <!-- <iframe id="codepen" height='400' scrolling='no' src='//codepen.io/stix/embed/dXLKRA/?height=265&theme-id=light&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'></iframe> -->
	    <!--  <iframe height='500' scrolling='no' src='//codepen.io/carbondesign/embed/qNZRgz/?height=265&theme-id=light&default-tab=html,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'> </iframe> -->

	    <div style="height:500px">
	    	<pre id="editor">xxx</pre>
	    	<div id="results"></div>
	    </div>

	    <script>

	    </script>

    </div>

</div>
