<div class="codeEditor">
    <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Show Code Editor</button>
    <hr>
    <div uib-collapse="isCollapsed">
        <iframe height='265' scrolling='no' src='//codepen.io/stix/embed/dXLKRA/?height=265&theme-id=light&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/stix/pen/dXLKRA/'>Minimal CSS Clock</a> by Stix (<a href='http://codepen.io/stix'>@stix</a>) on <a href='http://codepen.io'>CodePen</a>.
    </div>
</div>
